Repository terrariumcloud/terrarium, pull requests merged in 2023-11, with the labels that each got.

#44 Exposing Module Maturity field in the UI
  internal/restapi/browse/frontend/src/pages/modules/moduleinfo/ModuleInfo.tsx
Labels: frontend

#45 Exposing Module Matuity in the UI
  internal/restapi/browse/frontend/build/asset-manifest.json
  internal/restapi/browse/frontend/build/index.html
  internal/restapi/browse/frontend/build/static/css/main.e6c13ad2.css.map
  internal/restapi/browse/frontend/build/static/js/496.c4cdc242.chunk.js
  internal/restapi/browse/frontend/build/static/js/496.c4cdc242.chunk.js.map
  internal/restapi/browse/frontend/build/static/js/787.3f635e35.chunk.js
  internal/restapi/browse/frontend/build/static/js/787.3f635e35.chunk.js.map
  internal/restapi/browse/frontend/build/static/js/main.87b33658.js
  internal/restapi/browse/frontend/build/static/js/main.87b33658.js.LICENSE.txt
  internal/restapi/browse/frontend/build/static/js/main.87b33658.js.map
  internal/restapi/browse/frontend/build/static/js/main.dc06e25d.js
  internal/restapi/browse/frontend/build/static/js/main.dc06e25d.js.map
  internal/restapi/browse/frontend/src/pages/modules/moduleinfo/ModuleInfo.tsx
Labels: frontend

#50 Webhook test
  go.sum
  internal/release/services/release/release.go
  internal/release/services/release/release_test.go
Labels: DO-NOT-MERGE

#52 CIEDEV-2061: Handlers, gateway
  cmd/browse.go
  cmd/gateway.go
  internal/module/services/gateway/gateway.go
  internal/module/services/gateway/gateway_test.go
  internal/release/services/mocks/mock_client.go
  internal/release/services/mocks/mock_server.go
  internal/release/services/release/release.go
  internal/release/services/release/release_test.go
  internal/restapi/browse/handler.go
  internal/restapi/browse/helpers.go
  internal/restapi/modules/v1/helpers.go
Labels: DO-NOT-MERGE, testing
